@{
    this.SpinViewPage.AddJavaScript("https://unpkg.com/react@17/umd/react.production.min.js", false);
    this.SpinViewPage.AddJavaScript("https://unpkg.com/react-dom@17/umd/react-dom.production.min.js", false);
    this.SpinViewPage.AddJavaScript("https://unpkg.com/react-router-dom@5.0.0/umd/react-router-dom.min.js", false);

    this.SpinViewPage.AddJavaScript("/dist-front/js/authentication.min.js");
}
<div id="SpinContent"></div>